
<form action="/payment/results">
<label for="apr_id">APR</label><input id="apr_id" name= user_apr" placeholder="E.g. 5.42">
<label for="year_id">Number of years</label><input id="year_id" name= user_years" placeholder="How many ">




APR </label><input name="user_apr" placeholder="E.g. 5.42"><br>
<label> Number of years </label><input name="user_years" placeholder="How many years to repay?"><br>
<label> Principal </label><input name="user_pv" placeholder="How much principal?"><br>
  <button>Calculate monthly payment</button>

</form>





<form action="/square_root/results">
  <label for="user_number_id">Enter a number</label>
  <input id="user_number_id" name="user_number" placeholder="What number do you want?">
  <button>Calculate square root</button>
</form>
