
<h1> Payment </h1>

APR <br>
<%= @dec_r_input%> <br>
Number of years <br>
<%= @years_input%> <br>
Principal <br>
$<%=@dec_principal %><br>
Payment <br>
$<%= @dec_payment %>

<p><a href="/payment/new">Calculate another payment</p>
